<nav>
	<ul>
		<li><a href="{{ site.baseurl }}/">Home</a></li>
		<li><a href="{{ site.baseurl }}/meetings">Meetings</a></li>
		<li><a href="{{ site.baseurl }}/1337-perks">1337 perks</a></li>
		<li><a href="{{ site.baseurl }}/downloads">Downloads</a></li>
		<li>
			<a href="{{ site.baseurl }}/projects">Projects</a>
			<ul>
				<li>
					<a href="https://www.dc414.org/projects/ssl-heartbleed-cve-2014-0160-test/">SSL Heartbleed</a>
					<a href="https://www.dc414.org/?page_id=45">Protect yourself</a>
					<a href="https://dc414.org/projects/php-shadow/">PHP Shadow</a>
					<a href="https://dc414.org/projects/odig/">ODiG</a>
					<a href="https://dc414.org/projects/http-request-forager/">Request Forger</a>
					<a href="https://dc414.org/email-spoofer/">Email Spoofer</a>
					<a href="https://dc414.org/projects/encosh/">ENCOSH</a>
					<a href="https://github.com/ngharo/Panel-of-Lamb">Panel of Lamb</a>
					<a href="https://github.com/dc414/fakeAP_pwnage">Fake AP pwnage</a>
					<a href="https://github.com/dc414/Upnp-Exploiter">Upnp Exploiter</a>
				</li>
			</ul>
		</li>
		<li><a href="{{ site.baseurl }}/kb">Knowldege Base</a></li>
		<li><a href="https://groups.google.com/group/dc414">Mailing List</a></li>
		<li><a href="http://picasaweb.google.com/anarchy.ang31">Gallery</a></li>
		<li><a href="{{ site.baseurl }}/contact">Contact</a></li>
	</ul>
</nav>