<nav>
	<ul>
		<li><a href="{{ site.baseurl }}/">Home</a></li>
		<li><a href="">Meetings</a></li>
		<li><a href="">1337 perks</a></li>
		<li><a href="">Downloads</a></li>
		<li>
			<a href="">Projects</a>
			<ul>
				<li>
					<a href="">SSL Heartbleed</a>
					<a href="">Protect yourself</a>
					<a href="">PHP Shadow</a>
					<a href="">ODiG</a>
					<a href="">Request Forger</a>
					<a href="">Email Spoofer</a>
					<a href="">ENCOSH</a>
					<a href="">Panel of Lamb</a>
					<a href="">Fake AP pwnage</a>
					<a href="">Upnp Exploiter</a>
				</li>
			</ul>
		</li>
		<li><a href="">Knowldege Base</a></li>
		<li><a href="https://groups.google.com/group/dc414">Mailing List</a></li>
		<li><a href="http://picasaweb.google.com/anarchy.ang31">Gallery</a></li>
		<li><a href="">Contact</a></li>
	</ul>
</nav>