<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. 
    Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p> 
    <![endif]-->

    <div class="container">
      {% include navigation.html %}
      {% include header.html %}
      <section class="page">
        <h1 class="target">Your Milwaukee area Defcon group<span class="ip-addr">127.0.0.1</span></h1>
        {{ content }}
      </section>
    </div>

    {% include footer.html %}
    <a href="#" class="scrollup">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32" height="32" viewBox="0 0 32 32">
      <path d="M0 16c0 8.837 7.163 16 16 16s16-7.163 16-16-7.163-16-16-16-16 7.163-16 16zM29 16c0 7.18-5.82 13-13 13s-13-5.82-13-13 5.82-13 13-13 13 5.82 13 13z" fill="#444444"></path>
      <path d="M22.086 20.914l2.829-2.829-8.914-8.914-8.914 8.914 2.828 2.828 6.086-6.086z" fill="#444444"></path>
      </svg>
    </a>
  </body>

</html>
