<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. 
    Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p> 
    <![endif]-->

    <div class="container">
      {% include navigation.html %}
      {% include header.html %}
      <section class="page">
        <h1 class="target">Your Milwaukee area Defcon group<span class="ip-addr">127.0.0.1</span></h1>
        {{ content }}
      </section>
    </div>

    {% include footer.html %}
    <a href="#" class="scrollup">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32" height="32" viewBox="0 0 32 32">
      <path d="M32 16c0 8.837-7.163 16-16 16s-16-7.163-16-16 7.163-16 16-16 16 7.163 16 16zM3 16c0 7.18 5.82 13 13 13s13-5.82 13-13-5.82-13-13-13-13 5.82-13 13zM17.414 6.586l8 8c0.781 0.781 0.781 2.047 0 2.828s-2.047 0.781-2.828 0l-4.586-4.586v11.172c0 1.105-0.895 2-2 2s-2-0.895-2-2v-11.172l-4.586 4.586c-0.781 0.781-2.047 0.781-2.829 0-0.391-0.391-0.586-0.902-0.586-1.414s0.195-1.024 0.586-1.414l8-8c0.781-0.781 2.047-0.781 2.828 0z"></path>
      </svg>
    </a>
  </body>

</html>
